/*
<summary>
Russian Classification of Organizational and Legal Forms according to OKOPF
</summary>
<author> Alex Zakharov<author>
<date>2/10/2008</date>
*/

if not exists (select * from sysobjects where id = object_id(N'fx.BusinessLegalForms') and xtype ='U')
begin

CREATE TABLE fx.BusinessLegalForms (
	Code smallint not null,
	ParentCode smallint not null,
	Name nvarchar(512) not null,
	CONSTRAINT PK_BusinessLegalForms PRIMARY KEY CLUSTERED (Code ASC)
)		

EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Russian Classification of Organizational and Legal Forms according to OKOPF', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'BusinessLegalForms'


INSERT INTO fx.BusinessLegalForms(Code, ParentCode, Name) VALUES(	39, 0,  N'ЮРИДИЧЕСКИЕ ЛИЦА, ЯВЛЯЮЩИЕСЯ КОММЕРЧЕСКИМИ ОРГАНИЗАЦИЯМИ')
INSERT INTO fx.BusinessLegalForms(Code, ParentCode, Name) VALUES(	48, 39, N'Хозяйственные товарищества и общества')
INSERT INTO fx.BusinessLegalForms(Code, ParentCode, Name) VALUES(	51, 39, N'Полные товарищества')

end
go