/*
<summary>
	World countries dictionary (in Russian and English) according to ISO 3166 
	(http://www.iso.org/iso/country_codes.htm) and Russian OKSM standards
</summary>
<author>
	Alex Zakharov
	Copyright © AnjLab 2008, http://anjlab.com. All rights reserved.
	The code can be used for free as long as this copyright notice is not removed.
<author>
<date>2/10/2008</date>
*/

if not exists (select * from sysobjects where id = object_id(N'fx.Countries') and xtype ='U')
begin

print 'Creating countries table'
SET NOCOUNT ON -- Hide (1 row affected) messages

CREATE TABLE fx.Countries (
	CountryID smallint not null identity(1,1),
	CountryCode char(3) not null,
	ShortNameRus nvarchar(128) not null,
	FullNameRus nvarchar(256),
	ShortNameEng nvarchar(128) not null,
	Alfa2 char(2) not null,
	Alfa3 char(3) not null
	CONSTRAINT PK_Countries PRIMARY KEY CLUSTERED (CountryID ASC)
)		

CREATE NONCLUSTERED INDEX ixCountriesShortNameRus ON fx.Countries(ShortNameRus)
CREATE NONCLUSTERED INDEX ixCountriesShortNameEng ON fx.Countries(ShortNameEng)

EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'World countries names (in Russian and English) and codes according to ISO 3166 (http://www.iso.org/iso/country_codes.htm) and Russian OKSM standards', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country numeric code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'CountryCode'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country two-symbols code. Used for national internet domains' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'Alfa2'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country three-symbols code. Used for national internet domains' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'Alfa3'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country short name in Russian' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'ShortNameRus'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country full name in Russian' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'FullNameRus'
EXEC sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country short name in English' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'ShortNameEng'

INSERT INTO fx.Countries(CountryCode, ShortNameRus, FullNameRus, ShortNameEng, Alfa2, Alfa3) VALUES('004', N'Афганистан', N'', N'Afghanistan', 'AF', 'AFG')
INSERT INTO fx.Countries(CountryCode, ShortNameRus, FullNameRus, ShortNameEng, Alfa2, Alfa3) VALUES('008', N'Албания', N'Республика Албания', N'Albania', 'AL', 'ALB')
INSERT INTO fx.Countries(CountryCode, ShortNameRus, FullNameRus, ShortNameEng, Alfa2, Alfa3) VALUES('010', N'Антарктида', N'', N'Antarctica', 'AQ', 'ATA')

end
go