/*
<summary>
	World currencies dictionary according to Russian ОКВ standard
</summary>

<author>
	Alex Zakharov
	Copyright © AnjLab 2008, http://anjlab.com. All rights reserved.
	The code can be used for free as long as this copyright notice is not removed.
<author>

<date>3/25/2008</date>

*/

set nocount on

if not exists (select * from sysobjects where id = object_id(N'fx.Currencies') and xtype ='U')
begin

create table fx.Currencies (
	CurrencyID smallint not null identity(1,1),
	DigitCode char(3) not null,
	CharCode char(3),
	CurrencyName nvarchar(128) not null,
	Countries nvarchar(max) null,
	IsFavorite bit not null constraint dfCurrenciesIsFavorite default 0,
	constraint pkCurrencies Pprimary key clustered (CurrencyID asc)
)

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'World currencies dictionary (in Russian) according to Russian OKV standard', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies'

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Currency digital code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies', @level2type=N'COLUMN',  @level2name=N'DigitCode'

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Currency char code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies', @level2type=N'COLUMN',  @level2name=N'CharCode'

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Currency name' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies', @level2type=N'COLUMN',  @level2name=N'CurrencyName'

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'List of countries where currency is used' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies', @level2type=N'COLUMN',  @level2name=N'Countries'

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'You can use this flag to define currencies which are used often (for example, to truncate full list). By default UDS, EUR and RUR are marked as favorites.' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Currencies', @level2type=N'COLUMN',  @level2name=N'IsFavorite'

insert into fx.Currencies(DigitCode, CharCode, CurrencyName, Countries, IsFavorite) values('004', 'AFA', N'Афгани', N'Афганистан', 0)
insert into fx.Currencies(DigitCode, CharCode, CurrencyName, Countries, IsFavorite) values('008', 'ALL', N'Лек', N'Албания', 0)
insert into fx.Currencies(DigitCode, CharCode, CurrencyName, Countries, IsFavorite) values('012', 'DZD', N'Алжирский динар', N'Алжир', 0)

end
GO
	