/*
<summary>
Russian personal ID types dictionary (in Russian)
<summary>
<author> Alex Zakharov<author>
<date>1/2/2008</date>*/

if not exists (select * from sysobjects where id = object_id(N'fx.IdentityCardTypes') and xtype = 'U' )
begin

CREATE TABLE fx.IdentityCardTypes (
	IdentityCardCode tinyint not null,
	CardName nvarchar(512) not null,
	CardNotes nvarchar(max) null,
	IsFavorite bit not null CONSTRAINT DF_IdentityCardTypesIsFavorite DEFAULT 0,
	CONSTRAINT PK_IdentityCardTypes PRIMARY KEY CLUSTERED (IdentityCardCode ASC)
)

DELETE FROM fx.IdentityCardTypes
INSERT INTO fx.IdentityCardTypes(IdentityCardCode, CardName, CardNotes) VALUES(	1, N'Паспорт гражданина СССР', N'Действителен до 01.01.2006 для иностранных граждан и лиц без гражданства в соответствии с Постановлением Правительства Российской Федерации от 04.12.2003 N 731')
INSERT INTO fx.IdentityCardTypes(IdentityCardCode, CardName, CardNotes) VALUES(	3, N'Свидетельство о рождении', N'Для лиц, не достигших 16-летнего (с 01.10.97 - 14-летнего) возраста, оформленное в соответствии с законодательством Российской Федерации')
INSERT INTO fx.IdentityCardTypes(IdentityCardCode, CardName, CardNotes) VALUES(	4, N'Удостоверение личности офицера', N'Для военнослужащих (офицеров, прапорщиков, мичманов)')

end
go