/*
<summary>
	Russian Сlassification of Units of Measurement according to Russian ОКЕИ standard
</summary>
<author>
	Alex Zakharov
	Copyright © AnjLab 2008, http://anjlab.com. All rights reserved.
	The code can be used for free as long as this copyright notice is not removed.
<author>
<date>6/3/2008</date>
*/

set nocount on -- Hide (1 row affected) messages
print 'Creating MeasurementUnits table'

if not exists (select * from sysobjects where id = object_id(N'fx.MeasurementUnitGroups') and xtype ='U')
begin

create table fx.MeasurementUnitGroups (
	GroupID tinyint not null,
	GroupName nvarchar(128) not null,
	constraint pkMeasurementUnitGroups primary key clustered (GroupID asc)
)

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Measurement unit groups according to ОКЕИ', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnitGroups'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Group Code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnitGroups', @level2type=N'COLUMN',  @level2name=N'GroupID'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Group name' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnitGroups', @level2type=N'COLUMN',  @level2name=N'GroupName'

insert into fx.MeasurementUnitGroups(GroupID, GroupName) values(1, N'Единицы длины')
insert into fx.MeasurementUnitGroups(GroupID, GroupName) values(2, N'Единицы площади')
insert into fx.MeasurementUnitGroups(GroupID, GroupName) values(3, N'Единицы объема')

end

if not exists (select * from sysobjects where id = object_id(N'fx.MeasurementUnits') and xtype ='U')
begin

create table fx.MeasurementUnits (
	UnitID smallint not null,
	GroupID tinyint not null,
	Symbol nvarchar(64) not null,
	UnitName nvarchar(256) not null,
	constraint pkMeasurementUnits primary key clustered (UnitID asc),
	constraint fkMeasurementUnitsMeasurementUnitGroups foreign key (GroupID) references fx.MeasurementUnitGroups(GroupID)
)		

create nonclustered index ixMeasurementUnitsGroupID on fx.MeasurementUnits(GroupID)
create nonclustered index ixMeasurementUnitsUnitName on fx.MeasurementUnits(UnitName)

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Russian Сlassification of Units of Measurement according to ОКЕИ', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnits'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Measurement unit code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnits', @level2type=N'COLUMN',  @level2name=N'UnitID'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Measurement group code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnits', @level2type=N'COLUMN',  @level2name=N'GroupID'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Measurement unit name' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'MeasurementUnits', @level2type=N'COLUMN',  @level2name=N'UnitName'

insert into fx.MeasurementUnits (UnitID,GroupID,Symbol,UnitName)values(3,1,N'мм',N'Миллиметр')
insert into fx.MeasurementUnits (UnitID,GroupID,Symbol,UnitName)values(4,1,N'см',N'Сантиметр')
insert into fx.MeasurementUnits (UnitID,GroupID,Symbol,UnitName)values(5,1,N'дм',N'Дециметр')

end
go

