/*
<summary>
	World countries dictionary (in Russian and English) according to ISO 3166 
	(http://www.iso.org/iso/country_codes.htm) and Russian OKSM standards
</summary>
<author>
	Alex Zakharov
	Copyright © AnjLab 2008, http://anjlab.com. All rights reserved.
	The code can be used for free as long as this copyright notice is not removed.
<author>
<date>2/10/2008</date>
*/

set nocount on

if not exists (select * from sysobjects where id = object_id(N'fx.Countries') and xtype ='U')
begin

create table fx.Countries (
	CountryID smallint not null identity(1,1),
	CountryCode char(3) not null,
	ShortName nvarchar(128) not null,
	FullName nvarchar(256),
	Alfa2 char(2) not null,
	Alfa3 char(3) not null
	constraint pkCountries primary key clustered (CountryID ASC)
)		

create nonclustered index ixCountriesShortName on fx.Countries(ShortName)
create nonclustered index ixCountriesFullName on fx.Countries(FullName)

exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'World countries names (in Russian and English) and codes according to ISO 3166 (http://www.iso.org/iso/country_codes.htm) and Russian OKSM standards', 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country numeric code' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'CountryCode'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country two-symbols code. Used for national internet domains' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'Alfa2'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country three-symbols code. Used for national internet domains' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'Alfa3'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country short name' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'ShortName'
exec sys.sp_addextendedproperty @name=N'MS_Description', 
	@value=N'Country full name' , 
	@level0type=N'SCHEMA', @level0name=N'fx', @level1type=N'TABLE',  @level1name=N'Countries', @level2type=N'COLUMN',  @level2name=N'FullName'

set identity_insert [fx].[Countries] on
	insert into [fx].[Countries]([CountryID],[CountryCode],[ShortName],[FullName],[Alfa2],[Alfa3]) values(1,'004',N'Афганистан',N'','AF','AFG')
 	insert into [fx].[Countries]([CountryID],[CountryCode],[ShortName],[FullName],[Alfa2],[Alfa3]) values(2,'008',N'Албания',N'Республика Албания','AL','ALB')
 	insert into [fx].[Countries]([CountryID],[CountryCode],[ShortName],[FullName],[Alfa2],[Alfa3]) values(3,'010',N'Антарктида',N'','AQ','ATA')
set identity_insert [fx].[Countries] off
set nocount off
 


end
go